:root {
  --card-color: #19191F;
  --text-color: #F6F2FA;
  --text-secondary-color: #675DF9;
  --tertiary-color: #2E2E3D;
  --light-color: #44C3F4;
  --border-color: #A8A4FF;
  --hover-color: #25252C;
  --box-color: #1C1C26;
  --block-section-color: #12121A;
  --overlay-color: #00000080;
  --black-color: #000000;
  --paragraph-color: #ACAAB1;
  --paragraph-sharp-color: #a1a1aa;

  --border-r: 15px;

  --gradiant-button-color: linear-gradient(45deg, #A8A4FF, #675DF9);
  --gradiant-btn-color: linear-gradient(45deg, #6c63ff, #3b348f);

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background: var(--black-color);
}

.header .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  transition: 0.3s ease;
}

.header .navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  width: 250px;
}

.header .navbar .logo h2 {
  margin: 0;
  color: var(--text-color);
}

.header .navbar .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 0;
  width: 450px;
}

.header .navbar .nav-links li {
  list-style: none;
}

.header .navbar .nav-links a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  transition: 0.3s ease;
}

.header .navbar .nav-links ::before,
.header .navbar .nav-links ::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: var(--text-secondary-color);
  transition: all 0.3s ease;
}

.header .navbar .nav-links ::before {
  top: -4px;
  right: 0;
}

.header .navbar .nav-links ::after {
  bottom: -8px;
  left: 0;
}

.header .navbar .nav-links :hover ::before,
.header .navbar .nav-links :hover ::after {
  width: 100%;
}

.header .navbar .nav-links .active {
  color: var(--text-secondary-color);
}

.header .navbar .nav-links :hover {
  color: var(--text-secondary-color);
}

.header .navbar .nav-links li {
  list-style: none;
}

.header .navbar .nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  width: 250px;
}

.header .navbar .nav-btn svg.svg-inline--fa.fa-bell {
  color: var(--text-color);
  transition: 0.3s ease;
}

.header .navbar .nav-btn svg:hover.svg-inline--fa.fa-bell {
  color: var(--text-secondary-color);
}

.header .navbar .nav-btn .header-image {
  width: 48px;
  height: 37px;
}